<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-bottom: 10px;
">
  <mat-card style="background-color: #03a9f4; color:white; padding: 15px;">
    <mat-card-title>Lab Results


      <button style="margin-right: 10px;
      float: right;
      background-color: white;
      color: black !important;"
        class="btn btn-primary mat-ripple" md-ripple="reset" (click)="reset()">RESET</button> &nbsp;&nbsp;
      <button style="margin-right: 10px;
      float: right;
      background-color: white;
      color: black !important; "
        class="btn btn-primary mat-ripple" md-ripple="submit" >SAVE</button>

    </mat-card-title>

  </mat-card>

</div>

<div class="content">
    <div style="padding-left:10px;padding-right:10px">
      <mat-card style="padding-left:50infopx;">
  
        <form class="form-horizontal" class="form-inline" [formGroup]="LabResultForm">
  
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 ">
              <div class="form-group">
                <div class="col-xl">
  
                 
  
                  <mat-form-field>
  
                    <input  matInput placeholder="REG#" type="text">
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                  <div class="col-xl">
    
                    <mat-form-field>
                      <input required  [min]="minDate"  matInput [matDatepicker]="picker3" placeholder="Date of Test"
                        [formControl]="date">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="form-group">
                    <div class="col-xl">
                      <mat-form-field>
      
      
                        <mat-select  placeholder="DoneBy">
                         <mat-option>None</mat-option>
                        
                        </mat-select>
                      </mat-form-field>
                     
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                      <div class="col-xl">
                        <mat-form-field>
        
        
                          <mat-select  placeholder="Test Name">
                           <mat-option>None</mat-option>
                          
                          </mat-select>
                        </mat-form-field>
                       
                      </div>
                    </div>
                  </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
          
          
            
  