<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-bottom: 10px;
">
  <mat-card style="background-color: #03a9f4; color:white; padding: 15px;">
    <mat-card-title>SERVICES LIST


    </mat-card-title>


  </mat-card>


</div>
<div style="padding-left:10px;padding-top:10px;padding-right:10px">
  <mat-card>
    <label>
      <mat-form-field>

        <input [(ngModel)]="filter" matInput placeholder="Search" type="text">
      </mat-form-field>
    </label>


  </mat-card>

</div>
<table width="100%" class="table table-striped table-condensed" style="overflow-y: scroll;">
    <tr  style="background:rgb(53, 49, 49)">
      <th>S.NO</th>
      <th>Service Name</th>
      <th>Patient Type</th>
      <th>Cost</th>
      <th>Department</th>
      <th>From date</th>
      <th>Till Date</th>
      <th>Edit</th>
   
    </tr>
    <tr *ngFor="let data of List|filter: filter|paginate: { itemsPerPage: 15, currentPage: p };let i =index">
      <!-- *ngFor="let data of Medicine |filter: filter"> -->
      <td>{{i+1}}</td>
      <td>{{data.serviceName}}</td>
      <td>{{data.patientType}}</td>
      <td>{{data.cost}}</td>
      <td>{{data.department}}</td>
      <td>{{data.fromDate |date :  "dd.MM.y" }}</td>
      <td>{{data.tillDate |date :  "dd.MM.y" }}</td>
      <td><a style="color:blue" (click)="open(basic,data)"> Edit</a></td>
    </tr>
  </table>

   <pagination-controls (pageChange)="p = $event"></pagination-controls> 


  <ng-template #basic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Edit Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline" [formGroup]="ServiceForm">
        
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group "> 
                  <div class="col-xl">
                    <mat-form-field>
        
                      <input formControlName="serviceId" [(ngModel)]="serviceId" matInput placeholder="Service Id" type="text" readonly>
                    </mat-form-field>
        
                  </div>
                </div>
               </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group ">
                  <div class="col-xl">
                    <mat-form-field>
        
                      <input formControlName="serviceName" [(ngModel)]="serviceName" matInput placeholder="Service Name" type="text" required>
                    </mat-form-field>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group" >

                        <div class="col-xl">
                    <mat-form-field>
       
                        <input [(ngModel)]="department" formControlName="department" matInput placeholder="Department" type="text" readonly>

                    </mat-form-field>
                    
                  </div>
                </div>
              </div> 
               
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group ">
                  <div class="col-xl">
                    <mat-form-field>
        
                      <input style="color:blue" formControlName="cost" [(ngModel)]="cost" matInput placeholder="Cost" type="text" required>
                    </mat-form-field>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group ">
                  <div class="col-xl">
                   
                      <mat-form-field>

                          <input  [max]="maxDate" style="color:blue" [(ngModel)]="fromDate" formControlName="fromDate" matInput placeholder= "From" type="date">
                        </mat-form-field>
                  
                   
                  </div>
                </div>
              </div>
              
                    
                  
             
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group ">
                  <div class="col-xl">
                   <mat-form-field>
                      <input  [min]="minDate"  style="color:blue" [(ngModel)]="tillDate" formControlName="tillDate" matInput placeholder= "Till" type="date" >

                   </mat-form-field>
                  
                  </div>
                </div>
              </div>
        
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group ">
                  <div class="col-xl">
                    <mat-form-field>
        
                        <input [(ngModel)]="patientType" formControlName="patientType" matInput placeholder="PatientType" type="text" >

                    </mat-form-field>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-xl">
                    <mat-form-field>
                        <input [(ngModel)]="inHouse" formControlName="inHouse" matInput placeholder="In House" type="text" readonly>

                    </mat-form-field>
                    
                  </div>
                </div>
              </div>
              
              
        
        
        
            </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mat-ripple" (click)="modal.close('Save click')">cancel</button>
                <button class="btn btn-primary mat-ripple" md-ripple="submit"   (click)="save(ServiceForm.value);modal.close('Save click')">Save</button>
              </div>
            </ng-template>