<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-bottom: 10px;
">
  <mat-card style="background-color: #03a9f4; color:white; padding: 15px;">
    <mat-card-title>PROCUREMENT MASTER LIST



    </mat-card-title>




  </mat-card>

</div>

<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group ">
      <div class="col-xl">
        <mat-form-field>
  
          <input [(ngModel)]="filter" matInput placeholder="SearchByVendorName" type="text">
        </mat-form-field>
  
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>


<table width="100%" class="table table-striped table-condensed" style="overflow-y: scroll;
width: 98%;margin-left: 10px;">
  <tr style="background:rgb(53, 49, 49)">
    <th>Procurement #</th>
    <th>Procurement Date</th>
    <th>Type</th>
    <th>STP Name</th>

    <th>Vendor Name</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Manipulate</th>
<th>View</th>
  </tr>
  <tr *ngFor="let data of Proclist[0]|filter:filter|paginate: { itemsPerPage: 15, currentPage: p };let i=index">
    <td> <a style="color:blue" (click)="open(basic,data)">{{data.procurementId}}</a></td>
   
    <td>{{data.dateOfProcurement | date : "dd.MM.y"}}</td>
    <td>{{data.procurementType}}</td>
    <td>{{data.location}}</td>
    <td>{{data.vendorName}}</td>
    <td>{{data.amount}}</td>
    <td>{{data.status}}</td>
    <td>
      <mat-radio-group>
        <!-- <mat-radio-button value="1" >View</mat-radio-button>&nbsp; -->
        <mat-radio-button value="2" (click)="save(data)">Approve</mat-radio-button>&nbsp;
        <mat-radio-button value="3">Deny</mat-radio-button>
      </mat-radio-group>
    </td>
    <td><a style="color:blue" (click)="getReport(data)">View</a></td>
  </tr>
  
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<ng-template #basic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">EDIT DETAILS</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
 
        <form class="form-horizontal" class="form-inline" [formGroup]="ProForm"> 
  
            <div class="row">
              <div class= "col-lg-4 col-md-3">
                <div class="form-group ">
                  <div class="col-xl">
    
                    <mat-form-field>
    
                      <input [(ngModel)]="masterProcurementId" formControlName="masterProcurementId" matInput placeholder="GRN_ID" type="text" readonly>
                    </mat-form-field>
    
                  </div>
                </div>
              </div>
              <div class= "col-lg-4 col-md-3">
                  <div class="form-group ">
                    <div class="col-xl">
      
                      <mat-form-field>
      
                        <input [(ngModel)]="ProcurementId" formControlName="ProcurementId" matInput placeholder="ProcurementId" type="text" readonly>
                      </mat-form-field>
      
                    </div>
                  </div>
                </div>

                <div class= "col-lg-4 col-md-3">
                    <div class="form-group ">
                      <div class="col-xl">
        
                        <mat-form-field>
        
                          <input [(ngModel)]="status" formControlName="status" matInput placeholder="Status" type="text" readonly>
                        </mat-form-field>
        
                      </div>
                    </div>
                  </div>

                  <!-- <label>VendorName:</label> -->
                  <div class="col-lg-4 col-md-3">
                     
                    <div class="form-group">
                     
                      <div class="col-xl">
            
                          VendorName
            
                        <select [(ngModel)]="vendorName" formControlName="vendorName" placeholder="vendorName" required>
                            <option>none</option>
                            <option *ngFor="let data of Proclist[1] ;let i=index" [value]="data.vendorName">
                              {{data.vendorName}} 
                            </option>
                            </select>
                      </div>
                    </div>
                  </div>
            
                  <!-- <label>ProcurementType:</label> -->
                  <div class="col-lg-4 col-md-3">
                     
                    <div class="form-group">
                     
                      <div class="col-xl">
            
                       
                          ProcurementType
                        <select [(ngModel)]="procurementType" formControlName="procurementType" placeholder="ProcurementType" required>
                              <option>none</option>
                              <option value="With PO">With PO</option>
                              <option value="Without PO">Without PO</option>
                            
                            </select>
                      </div>
                    </div>
                  </div>

                  <!-- <label>Location:</label> -->
<!-- 
                  <div class="col-lg-4 col-md-3">
                     
                      <div class="form-group">
                       
                        <div class="col-xl">
                            Currency
                         
  
                          <select [(ngModel)]="currency" formControlName="currency" placeholder="Currency" required>
                              <option value="INR">INR</option>
                              <option value="$">$</option>
                              <option value="Euro">Euro</option>
                            
                             
                              </select>
                        </div>
                      </div>
                    </div>
                  <div class="col-lg-4 col-md-3">
                     
                    <div class="form-group">
                     
                      <div class="col-xl">
                          Location
                       

                        <select [(ngModel)]="location" formControlName="location" placeholder="location" required>
                          
                          
                            <option>None</option>
                            <option value="Miyapur">Miyapur</option>
                            <option value="KPHB">KPHB</option>
                            </select>
                      </div>
                    </div>
                  </div> -->
            
    </div>
    </form>
    
    <table id="classTable" class="table table-bordered" style="overflow-y: scroll;">
        <tr style="background:rgb(53, 49, 49);font-size:13px">
         
          <th>Medicine Name</th>
          <th>Batch #</th>
       
          <th>Manuf Dt</th>
    
          <th>Expiry Dt</th>
          <th>Quantity</th>
         
          <th>BONUS</th>
          <th>SP</th>
          <th>CP</th>
  
        
        </tr>

        <tr>
         
<td>
                <select  style="width:150px" placeholder="Medicine name" [(ngModel)]="itemName">
               <option>none<option>
                  <option *ngFor="let data of Proclist[2];let i=index" [value]="data.name" >
                    {{data.name}}
                 </option>
                </select>
              
              
        </td>
        <td><input [(ngModel)]="batch" type="text"></td>
        <td>
            <input [(ngModel)]= "manufacturedDate"  type="text">
          </td>
          <td><input [(ngModel)]="expDate" type="text"></td>
          <td>
              <input [(ngModel)]= "quantity"  type="text">
            </td>
            <td>
                <input [(ngModel)]= "freeSample"  type="text">
              </td>
              <td>
                  <input [(ngModel)]= "mrp"  type="text">
                </td>
                <td>
                    <input [(ngModel)]= "costPrice"  type="text">
                  </td>
        </tr>
        </table>

      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
      <button type="button" class="btn btn-primary mat-ripple" md-ripple="submit" (click)="edit();refresh();modal.close('Save click')">save</button>

    </div>
  </ng-template>