<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" 
    role="navigation" style="margin-bottom: 0;width: 100%; height: 60px;">
        <div class="navbar-header">
                <!-- Added toggleNavigation for toggle button -->
                <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
            <span class="clear">
                <span class="block m-t-xs" style="padding-top:0px">
                     <strong class="font-bold">WINAMRA</strong> 
                    
                </span>                
            </span>
        </div>
      
        <!-- <ul class="nav navbar-top-links navbar-right">
            <li>
                           </li>
        </ul> -->
        
        <div  *ngIf="router.url != '/login'">
            <span  class="text-danger my-2 my-sm-0" *ngIf="isloggedIn()" >
                   <P style="font-size:15px;font-weight: bold;color:brown;">  Welcome {{userName}}   </P> 
            </span>
         </div>
    
    
        <div  *ngIf="router.url != '/login'">
        <button class="btn btn-primary" *ngIf="isloggedIn()" (click)="logout()" type="submit">Log-out</button>
        </div>
    </nav>
</div>